/* Reset some basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation bar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #d4d4d4;
  color: white;
}

/* Hamburger menu styling */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: rgb(90, 90, 90);
  margin: 3px 0;
}

/* Brand logo styling */
.brand-logo {
  font-size: 1.5em;
  text-align: center;
  flex-grow: 1;
}

/* User icon styling */
.user-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
