/* example 1 */
/* Apply the Roboto font family to the entire document */
body {
  font-family: "Roboto", sans-serif;
}

/* Style the H1 heading */
h1 {
  font-weight: bold;
  color: darkblue;
  font-size: 40px;
}

/* Style the paragraph text */
p {
  font-style: italic;
  font-size: 18px;
}
