.text-overlay {
  position: relative;
  width: 1000px;
  height: 600px;
  background-image: url("img-fireworks.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-overlay h1 {
  color: white;
  font-size: 4em;
  text-align: center;
  mix-blend-mode: overlay; /* Updated blend mode */
  opacity: 0.8; /* Added opacity for a stronger effect */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Added shadow for better visibility */
}
